<%= render "devise/shared/landing_style" %>

<div class="container" id='body-wrap'>
  <div class="panel panel-default col-md-8 col-md-offset-2">
    <div class="panel-body">
  <img src="/home-logo.png" id="login-logo">
  <h1><strong>BetterHome</strong></h1>
  <p><em>Find your perfect match!</em><p>
  <br>
  <h2>Sign up</h2>

  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="container" id="sign-up-container">
        <div class="field">
          <%= f.label :name, class: "head" %><br />
          <%= f.text_field :name, autofocus: true , placeholder: "First name", class: "form-control input-md" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email , placeholder: "Email", class: "form-control input-md" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "form-control input-md" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "Confirm Password", class: "form-control input-md" %>
        </div>

        <br>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
        </div>

    <% end %>
  </div>
  <div class="row">
    <br>
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
