<div>
  Name: <%= @user.name %>
</div>
<div>
  Age: <%= @user.age %>
</div>
<div>
  Email: <%= @user.email %>
</div>
<div>
  Walk Score: <%= @user.walk_score %>
</div>
<div>
  Transit Score: <%= @user.transit_score %>
</div>
<div>
  Commute Score: <%= @user.commute_score %>
</div>
<div>
  Cost Score: <%= @user.cost_score %>
</div>
<div>
  Crime Score: <%= @user.crime_score %>
</div>

<%= link_to "Retake Survey", survey_user_path(@user)  %>
