<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><img alt="BetterHome" src="/white_brand.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for a location"  id="nav-search-bar">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Preferences", survey_user_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
    <div class="col-xs-3">
      <div class="navbar-header">
         <a class="navbar-left brand-img">
          <h5><img src="https://cdn1.iconfinder.com/data/icons/virtual-keyboard/512/geo-poi-pointer-round-atm-function-512.png", style="width: 20px">
          Better Home <small> <% if current_user %> <%= current_user.name %> <% end %>  </small> </a></h5>
         </a>

      </div>
    </div>
    <div class="col-xs-9">

      <ul class="nav nav-pills">
        <li>
          <span class="label label-info">
            NAV_BAR
          </span>
        </li>

          <li>



          <span class="label label-success">
            User
          </span>

        </li>

        <% if user_signed_in? %>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Register", new_user_registration_path %>
          </li>
        <% end %>


      </ul>
    </div>
</nav> -->
