<div class="card" id="<%= neighborhood['name'] %>">
  <%= link_to image_tag(get_image, class: "img-fluid"), neighborhood_inspect_path(neighborhood: ActiveSupport::JSON.encode(neighborhood)) %>
  <div class="card-block" >
    <h4 class="card-title"><strong><%= neighborhood["name"] %></strong></h4>
    <p class="card-text"> Overall Score Compatibility: <%= neighborhood["overall_score"] %> </p>
    <p class="card-text"> Distance from your Location: <%= neighborhood["distance_from_poi"].round(2) %> miles </p>
    <div class="center-details">
    <%= link_to "More details", neighborhood_inspect_path(neighborhood: ActiveSupport::JSON.encode(neighborhood)), class: "btn btn-primary detail-button" %></div>
  </div>
</div>
