<div class="result-panel">
  <div class="row">
    <div class="col-md-12">
      <p class="text-left">Neighborhood: <%= neighborhood["name"] %></p>
      <p class="text-left">Avg cost: <%= neighborhood["cost_score"] %></p>
      <p class="text-left">Walk score: <%= neighborhood["walk_score"] %></p>
      <p class="text-left">Transit score: <%= neighborhood["transit_score"] %></p>
      <p class="text-left">Distance from POI: <%= neighborhood["distance_from_poi"].abs %></p>
    </div>
  </div>
</div>