<div id="body-wrap">
  <div class="page-header">
    <h1 style="margin-top: -20px; margin-bottom: 20px;"><strong><%= @neighborhood_name %></strong></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag("/commute_icon.png", style: "width: 25%; margin-top: 10px;") if @distance %>
              <h4 class="text-center">Commute</h4>
              <table class="table table-hover table-condensed" id="commute-table">
                <thead>
                  <tr>
                    <th>Foot</th>
                    <th>Bike</th>
                    <th>Car</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= get_commute(@distance, 3.1).floor %> mins</td>
                    <td><%= get_commute(@distance, 9.6).floor %> mins</td>
                    <td><%= get_commute(@distance, 20).floor %> mins</td>
                  </tr>
                </tbody>
              </table>
              <%= image_tag("/cost_icon.png", style: "width: 25%; margin-top: 15px;") if @avg_cost %>
              <%= content_tag(:h4, "Cost: $#{@avg_cost}") if @avg_cost %>
            </div>
            <div class="col-md-6">
              <h4>
              <%= image_tag("/walk_icon.png", style: "width: 25%;") %><br><%= image_tag(@walkscore['logo_url']) %> <%= @walkscore['walkscore'] %></h4>
              <%= link_to("More Info", @walkscore['ws_link']) %>
              <h4><%= image_tag("/public_icon.png", style: "width: 25%;") %><br><%= image_tag(@transitscore['logo_url']) %> <%= @transitscore['transit_score'] %></h4>
              <%= link_to("More Info", @transitscore['ws_link']) %>
              <h4><%= image_tag("/crime_icon.png", style: "width: 25%;") if @crime %>
              </h4>
              <%= content_tag(:h4, "Crime Score: #{@crime}") if @crime %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <h2>Most Popular Places</h2>
        <div class="panel-body">
          <div class="row" id="yelp">
            <% @yelp_responses.each do |response| %>
              <div class="col-xs-6 col-sm-3 yelp-wrap">
                <div class="text-center">
                  <%= link_to response.url, class: "text-center" do %>
                    <%= response.name %>
                    <%= image_tag(response.image_url, class: "img-circle img-responsive") %>
                    <%= image_tag(response.rating_img_url, class: "img-responsive") %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="list-group">
            <a  class="list-group-item active" style="color: white;"> This neighborhood has <strong><%= @transitscore['summary'] %> </a>
            <a  class="list-group-item "> This neighborhood is <strong><%= @walkscore['description'] %></a>
            <a  class="list-group-item "> There are <strong><%= @factual['347'] %></strong> resturants nearby</a>
            <a  class="list-group-item "> There are <strong><%= @factual['34'] %></strong> schools nearby nearby</a>
            <a  class="list-group-item "> There are <strong><%= @factual['177'] %></strong> businesses nearby nearby</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" id="yelp-panel">
        <h2>Check out the area!</h2>
        <div class="panel-body">
          <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= @neighborhood_name %>%20san%20francisco%20ca%20best%20shops%20and%20food&key=<%= Rails.application.secrets.google_maps_key %>" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
