<div class="row">
  <div class="col-md-6">
    <h1 class="text-left"><%= @neighborhood_name %>, <%= @walkscore["walkscore"] %>,<%= @transitscore["transit_score"] %></h1>
    <h4 class="text-left">$<%= @avg_cost %> per/month</h1>
    <h4 class="text-left">Score: <%= @overall_score %></h1>
    <ul class="text-left">
      <li>Crime: Very Low</li>
      <li>Commute: X mins by foot
        <ul>
          <li>X mins by bike</li>
          <li>X mins by car</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Most Popular Places</h1>
    <% @yelp_responses.each do |response| %>
      <div class="col-md-3">
        <p><%= link_to response.name, response.url %></p>
        <p><%= response.rating %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h1 class="text-left">Life Changers:</h1>
    <ul class="text-left">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
      <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= @neighborhood_name %>%20san%20francisco%20ca%20best%20shops%20and%20food&key=<%= Rails.application.secrets.google_maps_key %>" allowfullscreen></iframe>
  </div>
</div>
