<h1 style="margin-top: -20px; margin-bottom: 20px;"><strong><%= @neighborhood_name %></strong></h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= content_tag(:h4, "Crime Score: #{@crime}", class: "text-left") if @crime %>
            <%= content_tag(:h4, "Average Cost: #{@avg_cost}", class: "text-left") if @avg_cost %>
            <h4 class="text-left">Average Commute</h4>
            <ul class="text-left">
              <li><%= get_commute(@distance, 3.1) %> mins by foot</li>
              <li><%= get_commute(@distance, 9.6) %> mins by bike</li>
              <li><%= get_commute(@distance, 20) %> mins by car</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4><%= image_tag(@walkscore['logo_url']) %> <%= @walkscore['walkscore'] %></h4>
            <%= link_to("More Info", @walkscore['ws_link']) %>
            <h4><%= image_tag(@transitscore['logo_url']) %> <%= @transitscore['transit_score'] %></h4>
            <%= link_to("More Info", @transitscore['ws_link']) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <h2>Most Popular Places</h2>
      <div class="panel-body">
        <div class="row">
          <% @yelp_responses.each do |response| %>
            <div class="col-md-3">
              <p><%= link_to response.name, response.url %></p>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% @yelp_responses.each do |response| %>
            <div class="col-md-3">
              <%= link_to(image_tag(response.image_url, class: "img-circle"), response.url) %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% @yelp_responses.each do |response| %>
            <div class="col-md-3">
              <%= image_tag(response.rating_img_url) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 class="text-left">Things to Consider:</h2>
        <h4 class="text-left">This neighborhood has <strong><%= @transitscore['summary'] %></strong></h4>
        <h4 class="text-left">This neighborhood is <strong><%= @walkscore['description'] %></strong></h4>
        <h4 class="text-left">There are <strong><%= @factual['347'] %></strong> resturants nearby</h4>
        <h4 class="text-left">There are <strong><%= @factual['34'] %></strong> schools nearby nearby</h4>
        <h4 class="text-left">There are <strong><%= @factual['177'] %></strong> businesses nearby nearby</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <h2>Check out the area!</h2>
      <div class="panel-body">
        <iframe width="485" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= @neighborhood_name %>%20san%20francisco%20ca%20best%20shops%20and%20food&key=<%= Rails.application.secrets.google_maps_key %>" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div
