<h1>Tests#new</h1>
<p>Find me in app/views/tests/new.html.erb</p>
eviction_notices_neighborhood <%= @eviction_notices_neighborhood %></br>
total_evictions_year <%=  @total_evictions_year %></br>
neighborhood_firesafety_complaints <%= @firesafety_complaints_year %></br>
total_firesafety_complaints<%= @neighborhood_firesafety_complaints %></br>
NEEDS FIXING total_neighborhood<%= @total_neighborhoods %></br>
crime_in_neighborhood <%=@crime_in_neighborhood %></br>
total_crime <%= @total_crime %></br>
NEEDS FIXING fire_incidents_in <%= @fire_incidents_in %></br>
total_fire_incidents <%= @total_fire_incidents %></br>

total_traffic_incidents <%= @total_traffic_incidents %></br>