<h1>Tests#new</h1>
<p>Find me in app/views/tests/new.html.erb</p>

eviction_score <%= @eviction_score %></br>
fire_safety_score <%= @fire_safety_score %></br>
crime_score <%= @crime_score %></br>
fire_incidents_score <%= @fire_incidents_score %></br>
total_traffic_incidents <%= @total_traffic_incidents %></br>